@import "tailwindcss";

@theme {
  /* Colors */
  --color-theme-black: #000;
  --color-theme-heading: #ffffff;
  /* borders */
  --color-theme-neutral-dark: #171717;
  --color-theme-neutral-muted: #a3a3a3;
  --color-theme-neutral-light: #a1a1a1;
  /* accents */
  --color-theme-accent-light: #fdc700;
  --background-image-text-secondary: linear-gradient(
    to right,
    var(--color-yellow-400),
    var(--color-yellow-700)
  );
  --background-image-text-secondary-hover: linear-gradient(
    to right,
    var(--color-yellow-600),
    var(--color-yellow-900)
  );

  /* Fonts */
  --font-heading: "Playfair Display", serif;
  --font-body: "Inter", sans-serif;
  --font-mono: "Space Mono", monospace;

  /* Fluid Typography */
  --text-fluid-1: clamp(2rem, 4vw, 3.5rem);
  --text-fluid-2: clamp(1.5rem, 3vw, 2rem);
  --text-fluid-3: clamp(1.15rem, 2vw, 1.5rem);
  --text-fluid-4: clamp(1rem, 1.5vw, 1.15rem);
  --text-fluid-p: clamp(0.95rem, 1.1vw, 1.05rem);
}

@layer base {
  body {
    @apply bg-theme-black font-body text-theme-accent-light selection:bg-theme-accent-light/30 selection:text-theme-accent-light;
    overflow-x: hidden;
  }
  h1 {
    @apply font-heading text-fluid-1 font-light tracking-wider text-theme-heading;
  }

  h2 {
    @apply font-heading text-fluid-2 font-light tracking-tight text-theme-heading;
  }

  h3 {
    @apply font-heading text-fluid-3 font-light text-theme-heading;
  }

  h4 {
    @apply font-heading text-fluid-4 font-bold uppercase;
  }

  p {
    @apply font-body text-fluid-p text-left md:text-justify break-words leading-relaxed;
    will-change: transform, opacity;
  }
  .bg-clip-text {
    -webkit-background-clip: text;
    background-clip: text;
  }

  /* Smooth scrolling for anchor links */
  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  .text-secondary {
    @apply text-transparent bg-clip-text bg-text-secondary;
  }

  .text-secondary-hover {
    @apply bg-text-secondary-hover;
  }

  .gradient-border {
    background: var(--background-image-text-secondary);
    padding: 1px; /* border thickness */
    border-radius: 0.125rem; /* match rounded-sm */
  }

  .gradient-border-inner {
    @apply bg-theme-neutral-dark rounded-sm;
  }
}
